body{
    background-color: #442d4b;
    color: #ffffff;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.clearfix{
    clear: both;
}

header .logo{
    width: 200px;
    margin: 16px 5px;
}

footer .logo{
    width: 200px;
}

header ul{
    list-style-type: none;
    padding-top: 16px;
}

header ul li{
    display: inline-block;
    padding: 10px 15px;
}

header ul li a{
    color: #ffcb59;
    text-decoration: none;
    font-size: 0.8rem;
}

footer{
    height: 40px;
    padding: 20px;
    position: absolute;
    background-color: #000000;
    position: relative;
}

.link{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
}

.link-group{
    margin-left: 40px;
}


section{
    padding: 0 40px;
    padding-bottom: 85px;
}

.category{
    margin-bottom: 40px;
}

.categoryName{
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.movie{
    margin-bottom: 10px;
    width: 200px;
}

.movie .poster{
    width: 180px;
    height: 230px;
    overflow: hidden;
    margin-bottom: 15px;
}

.poster img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%
}

.details{
    width:180px;
}

.details .yearOfRelease{
    margin: 5px 0;
    font-size: 0.8rem;
}

.details .name{
    margin: 5px 0;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
}

.stars .star{
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
    background-position: center;
    background-size: contain;
}

.star-full{
    background-image: url("../images/star-full.png");
}

.star-half{
    background-image: url("../images/star-half.png");
}

.star-empty{
    background-image: url("../images/star-empty.png");
}